@media screen and (max-width: 999px) {

    header .menu-desktop,
    header .btn-contato {
        display: none;
    }

    header .btn-menu-mob {
        display: block;
    }
}

@media screen and (max-width: 877px) {



    /* Resonsivo da hero */

    .hero-site .txt-hero h1 {
        font-size: 2.6em;
        line-height: 45px;
        margin-top: 100px;
    }



    .hero-site .txt-hero p {
        font-size: 16px;
        font-weight: 500;
        margin: 20px 0;
        color: rgb(70, 70, 70);
    }

    .hero-site .txt-hero span {
        display: block;
    }

    .hero-site button {
        width: 220px;
        height: 60px;
        font-size: 20px;
    }

    /* Estilos cards */

    section.vantagens {
        padding: 80px 0;
    }

    .vantagens .itens-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10%;
        margin-bottom: 70px;

        flex-direction: column;
    }

    .vantagens .itens-container .img-itens img {
        width: 100%;
        ;
    }

    .vantagens .itens-container .txt-titulo h3 {
        font-size: 3em;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .itens-container .txt-titulo h3 span {
        font-weight: 300;
    }

    .vantagens .itens-container .item-1 {
        order: 1;
    }

    .vantagens .itens-container .item-2 {
        order: 0;
    }


    /* Estilo de botoes e ctt */
    section.base-contato {
        background-color: #8a8989;
        padding: 80px 0;
    }

    .txt-contato,
    .icons-contato {
        display: block;
        width: 100%;
    }


    .base-contato .txt-contato h3 {
        font-size: 2em;
        line-height: 45px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .base-contato .txt-contato h3 span {
        display: block;
        font-weight: 700;
    }

    .base-contato .icons-contato a {
        text-decoration: none;
    }

    .base-contato .icons-contato button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*  */
        width: 100%;
        height: 60px;
        margin: 0 auto 20px auto;
        padding: 0 60px;
        /*  */
        background-color: transparent;
        border: 2px salmon #000;
        cursor: pointer;
        /*  */
        transition: .5s;
    }

    .base-contato .icons-contato button i {
        font-size: 20px;
    }

    .base-contato .icons-contato button:hover {
        background-color: #000;
    }

    .base-contato .icons-contato button:hover i,
    .base-contato .icons-contato button:hover p {
        color: #ffffff;
    }

    .base-contato .txt-contato p {
        margin-bottom: 20px;
    }

    /* estilo secao assinatura*/
    section.Barber {
        height: 600px;

        background-image: url(img/borrao-de-luxo-abstrato-gradiente-de-cor-cinza-usado-como-parede-de-estudio-de-fundo-para-exibir-seus-produtos.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        position: relative;
        color: #fff;
        text-align: center;
    }

    .Barber>.overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000e0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .Barber>.interface {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        z-index: 2;
        position: relative;
    }

    .Barber h3 {
        font-size: 2.3em;
        line-height: 40px;
        font-weight: 200;
    }

    .Barber h3 span {
        display: block;
        font-weight: 700;
    }

    .Barber p {
        margin: 20px 0;
        font-size: 16px;
        font-weight: 300;
    }

    .Barber button {
        width: 220px;
        height: 60px;
    }

    /* Como funciona */
    section.Como-funciona {
        padding: 80px 0;
    }

    .txt-funciona,
    .instrucoes {
        display: block;
        width: 100%;
    }


    .Como-funciona .txt-funciona {
        position: static;
    }

    .Como-funciona .txt-funciona h3 {
        font-size: 3em;
        line-height: 50px;
        font-weight: 300;
    }

    .Como-funciona .txt-funciona h3 span {
        display: block;
        font-weight: 600;
    }

    .instrucoes .instru-box {
        display: flex;
        align-items: center;
        gap: 20px;

        text-align: center;

        flex-direction: column;

        margin-bottom: 40px;
        border: 2px solid #000;
        padding: 20px;
    }

    .instrucoes .instru-box img {
        max-width: 100px;
    }

    .instrucoes .instru-box h4 {
        font-size: 1.5em;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .instrucoes .instru-box h4 span {
        font-weight: 300;
    }

    .instrucoes .instru-box {
        line-height: 20px;
    }

    footer {
        background-color: #000;
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }

    footer .top-footer button {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: transparent;
        color: #E3E3E3;
        font-size: 24px;
        cursor: pointer;
        margin: 0 10px;
        transition: .5s;
    }

    footer .top-footer button:hover {
        background-color: #fff;
        color: #000;
    }


    footer .middel-footer {
        margin: 20px 0;
    }


    footer .middel-footer a {
        margin: 15px 0;

        display: block;
    }

    footer .middel-footer a:hover {
        box-shadow: 0 0 8px #cfc6c6;
    }

    footer .bottom-footer p {
        color: #fff;
        margin-top: 22px;

        font-size: 14x;
    }

    footer .bottom-footer {
        border-top: 2px solid #fff;
    }

    /* ESTILO DO MENU DINAMICO----------------------------------$$$$$$$$$$$$$$$$$$$$ */
    header.rolar {
        background-color: #ffffff00;
        padding: 20px 0;
        box-shadow: 0 0 100px #02020200;
    }

    header.rolar .menu-desktop nav ul li a {
        color: #ede5e5;
    }

    header.rolar .btn-contato button {
        border: 1px solid #cfc6c6;
        color: #f1e8e8;
    }

    header.rolar .btn-contato button:hover {
        background-color: #3a3838;
        color: #fff;
    }


}