@media screen and (max-width: 900px) {

    header .menu-desktop,
    header .btn-contato {
        display: none;
    }

    header .btn-menu-mob {
        display: block;
    }
}

@media screen and (max-width: 878px) {
    .hero-site .txt-hero h1 {
        font-size: 4em;
        line-height: 50px;
        font-weight: 300;
    }

    section.na-tapuio {
        text-align: center;
        padding: 80px 0;
        background: linear-gradient(100deg, #fff, rgba(32, 78, 135, 0.582));
    }


    .na-tapuio .itens-container {
        flex-direction: column;
    }

    .na-tapuio .itens-container .img-itens img {
        width: 100%;
    }

    .na-tapuio .itens-container .item-1 {
        order: 1;
    }

    .na-tapuio .itens-container .item-2 {
        order: 0;
    }

    .txt-contato,
    .icons-contato {
        display: block;
        width: 100%;
    }

    .contato .txt-contato h3 {
        font-size: 2em;
        line-height: 40px;
        text-align: center;
    }

    .contato .txt-contato p {
        text-align: center;
        padding: 40px;
    }

    .contato .icons-contato button {
        width: 100%;
    }

    .assinatura h3 {
        text-align: center;
        font-size: 2.5em;
        line-height: 40px;
        font-weight: 200;
    }

    section.assinatura {
        height: 500px;
        background-image: url(img/IMG_8006.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: #fff;
    }

    .txt-sobre,
    .sobre-texto {
        display: block;
        width: 100%;
    }

    .sobre-tapuio .txt-sobre {
        position: static;
        text-align: center;
        padding: 20px;
        top: 50%;
    }

    .sobre-texto .sobre-box {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;
        border: 2px solid #000;
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    footer .middle-footer a {
        color: #fff;
        margin: 15px 0;
        display: block;
    }


    footer .bottom-footer p {
        color: #fff;
        margin-top: 10px;
    }

    .hero-site .txt-hero h1{
    padding: 20px;
    font-size: 4em;
    line-height: 70px;
    font-weight: 500;
}

.hero-site .txt-hero h1 span{
    display: block;
    font-weight: 500;
}


}