@media screen and (max-width: 900px) {

    header .menu-desktop,
    header .btn-contato {
        display: none;
    }

    header .btn-menu-mob {
        display: block;
    }

    section.na-tapuio {
        text-align: center;
        padding: 80px 0;
         background: linear-gradient(100deg, #a3a3a3, rgb(0, 55, 122));
    }

.hero-site button {
   margin: -1px;
   margin-top: 12px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 12px;
}

    body {
        background-color: rgb(90, 90, 90);
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        height: auto;
        scroll-behavior: auto;
    }

    section.sobre-tapuio {
    padding: 80px 0;
    background: linear-gradient(100deg, #a3a3a3, rgb(0, 55, 122));
}

section.contato {
   background: linear-gradient(100deg, #a3a3a3, rgb(0, 55, 122));
    padding: 80px 0;
}


    .na-tapuio .itens-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        text-align: center;
    }

    img,
    iframe {
        max-width: 100%;
        display: block;
    }

    .na-tapuio .itens-container .img-itens img {
        width: 100%;
    }

    .na-tapuio .itens-container .item-1 {
        order: 1;
    }

    .na-tapuio .itens-container .item-2 {
        order: 0;
    }

    .txt-contato,
    .icons-contato {
        display: block;
        width: 100%;
    }

    .contato .txt-contato h3 {
        font-size: 2em;
        line-height: 40px;
        text-align: center;
    }

    .contato .txt-contato p {
        text-align: center;
        padding: 40px;
    }

    .contato .icons-contato button {
        width: 100%;
    }

    .assinatura h3 {
        text-align: center;
        font-size: 2.5em;
        line-height: 40px;
        font-weight: 200;
    }

section.hero-site {
    height: 100;
    background-image: url(img/20250818_181749\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    color: #fff;
}

.hero-site .txt-hero h1 {
    padding: 20px;
    font-size: 4em;
    line-height: 70px;
    font-weight: 900;
    margin-top: 200px;
    color: #ffffff;
}

    section.assinatura {
        height: 500px;
        background-image: url(img/IMG_8006.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: #fff;
    }

    .txt-sobre,
    .sobre-texto {
        display: block;
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .sobre-tapuio .txt-sobre {
        position: static;
        text-align: center;
        padding: 20px;
        top: 50%;
    }

    .sobre-texto .sobre-box {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;
        border: 2px solid #000;
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    footer .middle-footer a {
        color: #fff;
        margin: 15px 0;
        display: block;
    }


    footer .bottom-footer p {
        color: #fff;
        margin-top: 10px;
    }


    .interface {
        max-width: 100%;
        padding: 0 5%;
    }

    .zoom-container img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .zoom-container img,
    .na-tapuio .itens-container .img-itens img {
        width: 100%;
        height: auto;
        max-width: 400px;
    }

    .hero-site .txt-hero h1 {
        font-size: 3em;
        /* tamanho ideal para celular */
        line-height: 1.2em;
        /* espaçamento proporcional */
        font-weight: 600;
        /* centraliza o título */
        padding: 10px 0;
    }

    .hero-site .txt-hero h1 span {
        display: block;
        font-weight: 600;
    }

    header.rolar {
       background: linear-gradient(100deg, #151515, rgb(0, 15, 33));
    padding: 12px 0;
}

.sobre-tapuio, .sobre-texto, .txt-sobre {
  max-width: 100%;
  overflow-x: hidden;
}



}

@media screen and (max-width: 878px) {}
