* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100%;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    height: auto;
    scroll-behavior: auto;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
    color: #a7a7a7;
}

header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 5;
    font-size: 3px;
    margin: 20px 0;

    border-radius: 100px;
     background: rgba(14, 14, 14, 0.432);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

header .logo img {
    width: 100%;
    height: 70px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    cursor: pointer;
}

header .logo img:hover {
    transform: scale(1.05);
    transition: .5s;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}

header.rolar {
    background: linear-gradient(135deg, #3b3b3b50, #494949, #35353569);
    padding: 10px 0;
}

header.rolar .menu-desktop nav ul li a {
    color: #ffffff;
    padding: 23px 0;
}

header.rolar .menu-desktop nav ul li a:hover {
    background-color: #ffffff65;
    color: #000;
    padding: 20px;
    border-radius: 100px;
}

header.rolar .btn-contato button {
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 100px;
    transition: transform 0.3s ease;
}

header.rolar .btn-contato button:hover {
    background-color: #858585;
    color: #000000;
    transform: scale(1.05);
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: all 0.3s ease;
    font-weight: bold;

}

header .menu-desktop nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;
}

header .menu-desktop nav ul li a:hover {
    color: #000;
    padding: 20px;
    background-color: #ffffff65;
    border-radius: 100px;
}

header .btn-contato button {
    width: 200%;
    height: 50px;
    border-radius: 12px;
}

header .btn-menu-mob {
    display: none;
    position: relative;
    z-index: 5;
}

header .btn-menu-mob div {
    background-color: #fff;
    height: 3px;
    margin: 10px 0;
    transition: .2s;
}

header .btn-menu-mob .line-menu-mob-1 {
    width: 30px;
}

header .btn-menu-mob .line-menu-mob-2 {
    width: 20px;
}

header .btn-menu-mob .line-menu-mob-1.ativo1 {
    transform: rotate(45deg) translate(30%);
}

header .btn-menu-mob .line-menu-mob-2.ativo2 {
    transform: rotate(-45deg) translate(30%);
    width: 30px;
}

header .menu-mobile {
    width: 0;
    height: 0;
    background: linear-gradient(900deg, rgb(97, 97, 97), rgb(5, 5, 29));
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: .5s;
    border-radius: 50px;
}

header .menu-mobile nav ul {
    list-style-type: none;
}

header .menu-mobile nav a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    padding: 30px 0;
    display: block;
    transition: .5s;
    border-radius: 20px;
}

header .menu-mobile nav a:hover {
    background-color: #fffafac3;
    color: #000000;
    box-shadow: 0 0 20px #000000;
}

header .menu-mobile nav {
    width: 100%;
}

header .menu-mobile.abrir {
    width: 100%;
    height: 100vh;
}

body.no-overflow {
    overflow: hidden;
}

header .btn-contato button,
.hero-site button {
    position: relative;
    font-size: 18px;
    background-color: #000;
    font-weight: bold;
    border: 2px solid #ffffff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    border-radius: 100px;
    padding: 1px;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s ease;
}

header .btn-contato button::before,
.hero-site button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 2px;
}


/* Efeito do hover no botão */
header .btn-contato button:hover,
.hero-site button:hover {
    background: linear-gradient(135deg, #ffffff, #7a7a7a, #555555);
    color: #000000;
    transform: scale(1.05);
}

section.hero-site {
    height: 100vh;
    background-image: url(img/20250818_181749\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    color: #fff;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site{
    display: flex; /* Coloca um embaixo do outro */
    align-items: center;    /* Centraliza os filhos horizontalmente */
    justify-content: center;/* Centraliza verticalmente (se a seção tiver altura) */
    text-align: center;     /* Garante que as linhas de texto fiquem no meio */
    width: 100%;            /* Ocupa a largura total da tela */
    padding: 0 20px;        /* Evita que o texto encoste nas bordas no celular */
}

/* 2. O Título */
.hero h1 {
    width: 100%;            /* Ocupa todo o espaço para o texto centralizar */
    margin-left: 0;         /* REMOVA margens fixas se houver */
    margin-right: 0;
    margin-bottom: 30px;    /* Espaço entre o título e o botão */
}

.hero a {
    display: flex;          /* Faz o link também se comportar como flex */
    justify-content: center;
    text-decoration: none;
    width: 100%;            /* Garante que o link ocupe a largura para centralizar o botão */
}

.hero button {
    margin: 0 auto;         /* O "auto" nas laterais força a centralização */
    width: auto;            /* O botão terá o tamanho apenas do texto */
    min-width: 200px;       /* Mas com um tamanho mínimo para ficar bonito */
    cursor: pointer;
}

.hero-site .txt-hero h1 {
    padding: 20px;
    font-size: 4em;
    line-height: 70px;
    font-weight: bold;
    margin-top: 200px;
    color: #ffffff;
    animation: slideInFromLeft 1s ease-out forwards;
}

.hero-site .txt-hero h1 span {
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.hero-site button:hover {
    background: linear-gradient(135deg, #ffffff, #7a7a7a, #555555);
    color: #000000;
    box-shadow: 12px 12px 16px #000000;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}

.hero-site .txt-hero p span {
    display: block;
}

.hero-site button {
    margin-left: 25px;
    width: 80%;
    height: 60px;
    font-size: 20px;
    border-radius: 12px;
}

section.na-tapuio {
    padding: 80px 0;
    background: linear-gradient(135deg, #0a0f3c, #000000, #000c67);
}

.na-tapuio .itens-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.na-tapuio .itens-container .img-itens img {
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 10px 12px 0 rgb(231, 231, 231);
}

.na-tapuio .itens-container .txt-itens h3 {
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.txt-itens p {
    padding: 20px;
    font-weight: 700px;
    font-size: 20px;
}

.zoom-container img {
    width: 450px;
    height: auto;
    transition: transform 0.5s ease;
    display: block;
}

.zoom-container img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

section.contato {
    padding: 80px 0;
    background: linear-gradient(135deg, #0a0f3c, #000000, #000c67);
}


.txt-contato,
.icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3 {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 400px;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span {
    display: block;
    font-weight: 700;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button {
    display: flex;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: #000;
    border: 2px solid #000f80;
    cursor: pointer;
    transition: .5s;
    border-radius: 12px;
}

.contato .icons-contato button i {
    font-size: 30px;
    color: #fff;
}

.contato .icons-contato button:hover {
    background-color: #727272a2;
}

.contato .icons-contato p {
    color: #fff;
}

.contato .icons-contato button:hover i,
.contato .icons-contato button:hover p {
    color: #fff;
}

section.assinatura {
    background: linear-gradient(135deg, #4d4d4d, #000000, #787878);
    justify-content: space-between;
    text-align: center;
    padding: 60px 0;

    box-shadow: 10px 12px 0 rgb(231, 231, 231);
}

/* Seção Planos — Ajuste */
.assinatura .planos {
    display: flex;
    flex-direction: column;
    /* Alinha um em cima do outro */
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;

}


/* Imagem dos planos */
.img-planos {
    background: linear-gradient(135deg, #4d4d4d, #000000, #787878);
    ;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 12px;
    transition: .7s;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
}


.assinatura .btn-planos button{
    background-color: #000;
  position: relative;
    font-size: 20px;
    background-color: #000;
    border: 2px solid #000000;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    border-radius: 12px;
    padding: 17px;
    overflow: hidden;
}

.assinatura .btn-planos button:hover{
    background-color: #2e2e2e;
    color: #ffffff;
}

.texto-colorido {
    font-size: 50px;
    font-weight: 900;
    background: linear-gradient(90deg, #686868, #f7f7f7, #808080, #656565, #080808, #00011d, #f9f9f9, #000000);
    background-size: 400%;
    -webkit-background-clip: text;
    color: transparent;
    animation: animarCores 6s linear infinite;
}

@keyframes animarCores {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}




section.sobre-tapuio {
    padding: 80px 0;
    background: linear-gradient(135deg, #0a0f3c, #000000, #000c67);
}

.txt-sobre,
.sobre-texto {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.sobre-tapuio .txt-sobre {
    position: sticky;
    top: 50%;
}

.sobre-tapuio .txt-sobre h3 {
    font-size: 4em;
    line-height: 60px;
    font-weight: 700;
}



.sobre-tapuio .txt-sobre h3 span {
    display: block;
    font-weight: 700;
}

.sobre-texto .sobre-box {
    background-color: #00062f;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid #001c7a;
    padding: 20px;
    border-radius: 12px;
    transition: .7s;
}

.sobre-texto .sobre-box:hover {
    background-color: #000a226e;
    cursor: pointer;

}

.sobre-texto .sobre-box img {
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 9px 4px 0 rgb(99, 99, 99);
}

.sobre-texto .sobre-box h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.sobre-texto .sobre-box p {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

footer {
    background: linear-gradient(100deg, #000000, rgb(0, 0, 0));
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 12px;
}

footer .top-footer button{
    background-color: #ffffff42;
    width: 70px;
    height: 70px;
    border-radius: 50%;

    font-size: 20px;
    transition: .5s;
    cursor: pointer;
}


footer .top-footer button:hover {
    background-color: #ffffffb4;
    color: #0037db;
}

footer .middle-footer {
    margin: 10px;
}   

footer .middle-footer a {
    color: #ffffff;
    margin: 0 20px;
}

footer .bottom-footer {
    border-top: 2px solid #fff;
}

footer .bottom-footer p {
    color: #fff;
    margin-top: 10px;
}


html {
    scroll-behavior: smooth;
}

section.mapa {
    padding: 20px 0;
    background-color: #000000;
    color: #fff;
}

.mapa iframe {
    border-radius: 20px;
}

.mapa h3 {
    text-align: center;
    font-weight: 700;
}

section.agendar{
     background: linear-gradient(135deg, #0a0f3c, #000000, #000c67);
    justify-content: space-between;
    text-align: center;
    padding: 60px 0;
    box-shadow: 10px 12px 0 rgb(231, 231, 231);
}

.agendar-cte button{
    background-color: #000;
  position: relative;
    font-size: 20px;
    background-color: #000;
    border: 2px solid #00065b;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    border-radius: 12px;
    padding: 10px;
}

.agendar-cte button:hover{
   background-color: #727272a2;
    color: #ffffff;
}